# Dependencias
node_modules/

# Builds / dist
dist/
build/
.out/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno
.env
.env.*
!.env.example

# Sistema
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp

# Coverage / testing
coverage/

# OS / temporales
*.log
.tmp/
